.parts{
    width: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.3rem 0;
}

.answers{
    width: 6.25rem;
    margin-right: 3.125rem;
   
}
textarea{
    margin-right: 4rem;
}

select{
    margin: 1.875rem 2.5rem 0 0;
}
